.box-footer center{
    display:block;
    position: sticky;

}

.modal-header{

    
    position: relative;
    margin: 30%;

}

.modal-footer{
    position: relative;
    
}

.modal-body{
    position: relative;
   
 

}

#buttons{
    position: relative;
}
