

<p>
  cliente-search works!

   
    {{clienteService.selectedCliente.nome}}

    
    {{clienteService.selectedCliente.documento}}

    
    {{clienteService.selectedCliente.idCadastroAntigo}}

    
    {{clienteService.selectedCliente.RG}}

    
    {{clienteService.selectedCliente.Fantasia}}

    
    {{clienteService.selectedCliente.Fantasia}}
    
   
    {{clienteService.selectedCliente.Complemento}}

    
    {{clienteService.selectedCliente.CEP}}

    
    {{clienteService.selectedCliente.Numero}}

   
    {{clienteService.selectedCliente.Bairro}}


    {{clienteService.selectedCliente.Cidade}}


    {{clienteService.selectedCliente.Telefone}}


    {{clienteService.selectedCliente.EmailSefaz}}


    {{clienteService.selectedCliente.RamoAtividade}}


    {{clienteService.selectedCliente.tipoEmpresa}}


    {{clienteService.selectedCliente.Ativo}}

    

</p>


